<h1 class="heading">POLITICS</h1>
<div class="wrapper">
    <aside class="filters">
        <h2 class="filters__title">Filters</h2>
        <form action="" class="filters__form">
            <label for="" class="filters__item">
                <input type="checkbox" name="filters">
                Recent
            </label>
            <label for="" class="filters__item">
                <input type="checkbox" name="filters">
                Most popular
            </label>
        </form>
    </aside>
    <article class="content">
        <div class="card">
            <div class="card__iamge"></div>
            <div class="card__content">
                <h2 class="card__title">Я ЖИВИИИИИИЙ</h2>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas fugit velit cupiditate illum illo, nihil tempora cum quam sit eaque, fuga asperiores pariatur earum eius voluptatem commodi corrupti, beatae ipsam!</p>
            </div>
        </div>
    </article>
</div>