<h1 class="heading">{{ displayIndustry }}</h1>
<div class="wrapper">
    <aside class="filters">
        <h2 class="filters__title">Filters</h2>
        <form action="" class="filters__form">
            <label for="" class="filters__item">
                <input type="checkbox" name="filters">
                Recent
            </label>
            <label for="" class="filters__item">
                <input type="checkbox" name="filters">
                Most popular
            </label>
        </form>
    </aside>
    <article class="content">
        @for (person of people; track person) {
            <div class="card">
                <img class="card__image" [src]="'https://who-is-be.onrender.com/images/' + person.photo" alt="">
                <div class="card__content">
                    <a [href]="'/personality/' + person.id"><h2 class="card__title">{{ person.lastName }} {{ person.firstName }} {{ person.patronymic }}</h2></a>
                    <p class="card__text">{{ person.description }}</p>
                </div>
            </div>
        }
    </article>
</div>