<img class="portrait" [src]="'https://who-is-be.onrender.com/images/' + person.photo" alt="">
<h1 class="name">{{ person.lastName }} {{ person.firstName }} {{ person.patronymic }}</h1>
<section class="about">
    <h2 class="personality__heading">About person</h2>
    <p class="about__info">{{ person.description }}</p>
</section>
<section class="connections">
    <h2 class="personality__heading">Connections</h2>
    <div class="connections__content">
        @for (connection of connections; track connection) {
            <a [href]="'/personality/' + connection.id"><img class="connections__image" [src]="'https://who-is-be.onrender.com/images/' + connection.photo" alt=""></a>
        }
    </div>
</section>
<section class="events">
    <h2 class="personality__heading">Events</h2>
    @for (event of events; track event) {
        <div class="events__item">
            <div class="event__heading">
                <h2 class="event__title">{{ event.title }}</h2>
                <div class="event__heading-right">
                    @if (event.type === "Politics") {
                        <span class="event__badge event__badge-politics">Politics</span>
                    }
                    @if (event.type === "Media") {
                        <span class="event__badge event__badge-media">Media</span>
                    }
                    @if (event.type === "Business") {
                        <span class="event__badge event__badge-business">Business</span>
                    }
                    @if (event.type === "Work") {
                        <span class="event__badge event__badge-work">Work</span>
                    }
                    @if (event.type === "Science") {
                        <span class="event__badge event__badge-science">Science</span>
                    }
                    @if (event.type === "Civil Society") {
                        <span class="event__badge event__badge-society">Civil Society</span>
                    }
                    @if (event.type === "Education") {
                        <span class="event__badge event__badge-education">Education</span>
                    }
                    <a [href]="event.link" target="_blank"><img src="../../../assets/png/link.png" alt="" class="event__link"></a>
                </div>
            </div>
            <div class="event__body">
                <p class="event__info">{{ event.description }}</p>
            </div>
        </div>
    }
</section>