<div class="portrait"></div>
<h1 class="name">Petro Mostavchuk</h1>
<section class="about">
    <h2 class="personality__heading">About person</h2>
    <p class="about__info">Meet Alex, a twenty-six-year-old with an infectious laugh that fills any room 
        they enter. Their eyes, a shade of hazel reminiscent of autumn leaves, sparkle 
        with curiosity and warmth. Alex has a penchant for adventure, always seeking 
        out new experiences and pushing the boundaries of their comfort zone....</p>
</section>
<section class="connections">
    <h2 class="personality__heading">Connections</h2>
    <div class="connections__content">
        <div class="connections__image"></div>
    </div>
</section>
<section class="events">
    <h2 class="personality__heading">Events</h2>
    <div class="events__item">
        <div class="event__heading">
            <h2 class="event__title">Я ЖИ-ВИИИИИИИИИЙ</h2>
            <div class="event__heading-right">
                <span class="event__badge">Media</span>
                <a href=""><img src="../../../assets/png/link.png" alt="" class="event__link"></a>
            </div>
        </div>
        <div class="event__body">
            <p class="event__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non itaque sequi minima natus, placeat et provident nobis alias. Iste magnam dolor consectetur eveniet mollitia qui perspiciatis a architecto eius necessitatibus.</p>
        </div>
    </div>
</section>