.person-container {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person__title {
    font-weight: 500;
    font-size: 2.5em;
    color: #834920;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    text-align: center;
}

.slider-wrapper {
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
}
.slider-wrapper path {
    margin-top: 2000px;
}

.swiper-button-prev {
    margin-top: 20px;
}

/*
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img {
    width: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
} */

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.slide__badge {
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    align-self: flex-start;
}

.slide__badge-politics {
    background-color: cadetblue;
}

.slide__badge-media {
    background-color: coral;
}

.slide__badge-business {
    background-color: lightpink;
}

.slide__badge-work {
    background-color:forestgreen;
    color: white;
}

.slide__text {
    margin-top: 10px;
    font-size: 1.5em;
    color: #834920;
}

.slide__button {
    border: 0;
    color: white;
    background-color: #3FAB64;
    padding: 5px 20px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    margin-top: 10px;
    transition: 300ms;
}

.slide__button:hover {
    background-color: #30834d;
    box-shadow: none;
}


/* CATEGORIES */

.categories-container {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    width: 100%;
    margin-top: 75px;
}

.category__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.category__title {
    max-width: 50%;
    font-size: 2em;
    font-weight: 500;
    color: #834920;
    text-decoration: underline;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.category__arrow {
    width: 30px;
    transform: translateX(-15px);
    transition: transform 250ms ease;
}

.category__arrow:hover {
    transform: translateX(0);
}

.category__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__personality {
    width: 30%;
    aspect-ratio: 4 / 3;
    border-radius: 5px;
    position: relative;
}

.personality__photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 5px;
}

.personality__cover {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .45);
    border: 3px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: 250ms ease;
    z-index: 1;
    margin: 0;
}

.personality__name {
    color: white;
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.personality__cover:hover {
    opacity: 1;
    border: 3px solid #3FAB64;
}