<section class="person-container">
    <h1 class="person__title">PERSON OF THE DAY</h1>
    <div class="slider-wrapper">
        <div class="slider-nav">
            <a href="#slide-1">Business</a>
            <a href="#slide-2">Politics</a>
            <a href="#slide-3">Media</a>
        </div>
        <div class="slider">
            <img src="../../../assets/jpg/person.jpg" alt="" id="slide-1">
            <img src="../../../assets/jpg/person.jpg" alt="" id="slide-2">
            <img src="../../../assets/jpg/person.jpg" alt="" id="slide-3">
        </div>
    </div>
</section>

<section class="categories-container">
    <div class="category">
        <div class="category__heading">
            <h1 class="category__title">POLITICS</h1>
            <a href=""><img src="../../../assets/png/next.png" alt="" class="category__arrow"></a>
        </div>
        <div class="category__body">
            <div class="category__personality">
                <div class="personality__cover">
                    <h2 class="personality__name">Petro</h2>
                    <h2 class="personality__name">Mostavchuk</h2>
                </div>
            </div>
            <div class="category__personality"></div>
            <div class="category__personality"></div>
        </div>
    </div>
    <div class="category">
        <div class="category__heading">
            <h1 class="category__title">BUSINESS</h1>
            <a href=""><img src="../../../assets/png/next.png" alt="" class="category__arrow"></a>
        </div>
        <div class="category__body">
            <div class="category__personality">
                <div class="personality__cover">
                    <h2 class="personality__name">Petro</h2>
                    <h2 class="personality__name">Mostavchuk</h2>
                </div>
            </div>
            <div class="category__personality"></div>
            <div class="category__personality"></div>
        </div>
    </div>
    <div class="category">
        <div class="category__heading">
            <h1 class="category__title">MEDIA</h1>
            <a href=""><img src="../../../assets/png/next.png" alt="" class="category__arrow"></a>
        </div>
        <div class="category__body">
            <div class="category__personality">
                <div class="personality__cover">
                    <h2 class="personality__name">Petro</h2>
                    <h2 class="personality__name">Mostavchuk</h2>
                </div>
            </div>
            <div class="category__personality"></div>
            <div class="category__personality"></div>
        </div>
    </div>
</section>